[requires]
python_version = "3.7"

[packages]
Click = "==7.0"
Django = "==2.2.1"
django-appconf = "==1.0.3"
django-compressor = "==2.2"
django-crispy-forms = "==1.7.2"
Flask = "==1.0.2"
Flask-Script = "==2.0.6"
itsdangerous = "==1.1.0"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
python-dotenv = "==0.10.2"
pytz = "==2019.1"
rcssmin = "==1.0.6"
rjsmin = "==1.0.12"
six = "==1.12.0"
sqlparse = "==0.3.0"
Werkzeug = "==0.15.4"
requests = "*"
