[requires]
python_version = "3.8"

[packages]
Click = "~=7.1.2"
Django = "~=3.0.6"
Flask = "~=1.1.2"
Flask-Script = "~=2.0.6"
Jinja2 = "~=2.11.2"
MarkupSafe = "~=1.1.1"
Werkzeug = "~=1.0.1"
django-appconf = "~=1.0.4"
django-compressor = "~=2.4"
django-crispy-forms = "~=1.9.1"
idna = "~=2.9"
itsdangerous = "~=1.1.0"
pytz = "~=2020.1"
rcssmin = "~=1.0.6"
requests = "~=2.23.0"
rjsmin = "~=1.1.0"
six = "~=1.15.0"
sqlparse = "~=0.3.1"

